@model PagedList.IPagedList<IssueTracker.Models.Issue>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "All Issues";
}

<h2>All Issues</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("All", "Issue", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Issue Number
        </th>
        <th>
            @Html.ActionLink("Submit Date", "All", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Priority
        </th>
        <th>
            @Html.ActionLink("Status", "All", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Subject
        </th>
        <th>
            Submitter
        </th>
        <th>
            Last modified by
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SubmitDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Priority)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Subject)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Submitter.UserName)
    </td>
    <td>
        @if (item.LastModifiedBy != null)
        {
            @Html.DisplayFor(modelItem => item.LastModifiedBy.UserName)
        }
    </td>

    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "All", new { selectedItem = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
    }

</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("All",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

@{
    Html.RenderAction("IssueDetails", "Issue", new { id = ViewBag.SelectedItem});
}
