@model PagedList.IPagedList<IssueTracker.Models.Issue>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "All Open";
}

<h2>All Open Issues</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("AllOpen", "Issue", FormMethod.Get))
{
    <p>
        Find: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            Issue Number
        </th>
        <th>
            @Html.ActionLink("Submit Date", "AllOpen", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.ActionLink("Priority", "AllOpen", new { sortOrder = ViewBag.PrioritySortParm })
        </th>
        <th>
            Status
        </th>
        <th>
            Subject
        </th>
        <th>
            Submitter
        </th>
        <th>
            Last modified by
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmitDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Submitter.UserName)
            </td>
            <td>
                @if (item.LastModifiedBy != null)
                {
                    @Html.DisplayFor(modelItem => item.LastModifiedBy.UserName)
                }
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", null, null, null, new { @onclick = "GetData(" + item.ID + ")", @href = "#" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("AllOpen",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<div id="issueDetails">

</div>

@section Scripts{

    <script>
        function GetData(id) {
            $.ajax({
                url: "/Issue/Details",
                type: "get",
                data: { id: id },
                success: function (result) {
                    $("#issueDetails").html(result);
                }
            });
        }
    </script>
}
